src/main/mule/firstprojectmuledemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0dd9ab59-ada1-4b69-a9ce-5911f1d76aba" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="45850d0f-634d-4b92-a116-74b20a6239c5" >
		<http:request-connection protocol="HTTPS" host="dummy.restapiexample.com" />
	</http:request-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="fb517d9c-dfcd-4783-95a6-abcfbee1bd41" >
		<wsc:connection wsdlLocation="http://www.dneonline.com/calculator.asmx?wsdl" service="Calculator" port="CalculatorSoap" address="http://www.dneonline.com/calculator.asmx" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<vm:config name="VM_Config" doc:name="VM Config" doc:id="5991d51c-d4c5-4092-acc0-a0f413eca825" >
		<vm:queues >
			<vm:queue queueName="CustomerQueue" />
		</vm:queues>
	</vm:config>
	<file:config name="File_Config" doc:name="File Config" doc:id="862ccecd-55c8-47b2-a9e0-45299761ccea" >
		<file:connection workingDir="C:\demo\input" />
	</file:config>
	<flow name="GETflow" doc:id="4a0ce76e-c859-471a-9811-618eaf6298fe" >
		<http:listener doc:name="/GET hello" doc:id="e5c2b74b-e241-40e6-8b62-3435a8abc022" config-ref="HTTP_Listener_config" path="/hello" allowedMethods="GET"/>
		<logger level="INFO" doc:name="Logger" doc:id="c03f7e6d-0e4f-498a-a36b-be79cc3f92ec" message="** GET flow hello invoked **"/>
		<set-payload value='{"message":"hello"}' doc:name="Set Payload" doc:id="d4722d96-1c37-43cb-9592-1beace1a5b97" />
	</flow>
	<flow name="POSTFlow" doc:id="50a70738-3df3-4982-bef6-f0e5c3a92808" >
		<http:listener doc:name="POST hello" doc:id="fac2e717-28ac-46ae-9c9d-750a0256cbf9" config-ref="HTTP_Listener_config" path="/hello" allowedMethods="POST" />
		<logger level="INFO" doc:name="Copy_of_Logger" doc:id="6e540fc0-3928-4ba8-9c31-ec6cae84f118" message="** POST flow hello invoked **" />
	</flow>
	<flow name="schedulerFlow" doc:id="5b56b5a6-8ec2-4059-9399-5fe01ad86abc" >
		<scheduler doc:name="Scheduler" doc:id="64182566-447e-4c9f-8b51-5d20c5ef27b7" >
			<scheduling-strategy >
				<fixed-frequency frequency="10" timeUnit="MINUTES"/>
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="Logger" doc:id="29f9fd61-866b-4b9d-ae1c-ae4fe6b9c168" message="*** Scheduler got invoked ***"/>
	</flow>
	<flow name="GETEmployee" doc:id="8c80325a-f77d-4dc7-9914-74413cb4131e" >
		<http:listener doc:name="GET employee" doc:id="7f202044-c2b3-4af7-a4dd-0f7a91e16a35" config-ref="HTTP_Listener_config" path="/employee" allowedMethods="GET"/>
		<http:request method="GET" doc:name="Call Employee WS" doc:id="e73c14bc-48a4-4f2e-94e5-fc9cfc230abe" config-ref="HTTP_Request_configuration" path="/api/v1/employees"/>
	</flow>
	<flow name="SOAPCalculator" doc:id="c0b9ddfc-d37c-4af0-a57e-1a292a6fdff0" >
		<http:listener doc:name="addTwoNumbers" doc:id="fbf9c14f-8e63-46a8-820a-f8bc05d91e58" config-ref="HTTP_Listener_config" path="/addTwoNumbers"/>
		<set-variable value="#[attributes.queryParams.Number1]" doc:name="Set Variable" doc:id="79a47c1e-7dba-4b11-a5ee-53dc300dd242" variableName="varA"/>
		<set-variable value="#[attributes.queryParams.Number2]" doc:name="Set Variable" doc:id="ad03d6dd-497b-4547-9af1-80303b90e577" variableName="varB"/>
		<ee:transform doc:name="Transform Message" doc:id="ca54a504-fb27-4ca3-a342-42088fb2d8ce" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Add: {
		ns0#intA: vars.varA as Number,
		ns0#intB: vars.varB as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="c74a6fec-8d45-429d-93ad-73706eb41927" config-ref="Web_Service_Consumer_Config" operation="Add"/>
		<logger level="INFO" doc:name="Logger" doc:id="2ed592b3-6269-48c4-85a1-b120d9ba11fc" message="#[payload.body.AddResponse.AddResult]"/>
	</flow>
	<flow name="MainFlow" doc:id="a1c08331-9e9b-4d39-afbc-d6b881bd9ded" >
		<http:listener doc:name="/GET flowReference" doc:id="f37aeece-d271-4cd7-abf1-a3419bfbc05a" config-ref="HTTP_Listener_config" path="/flow_reference" allowedMethods="GET"/>
		<logger level="INFO" doc:name="MainFlow logger" doc:id="cdd2bf48-6ca9-43d6-a013-365d15592f62" message="*** Main flow got invoked ***"/>
		<set-variable value="10" doc:name="Set Variable" doc:id="4d20c121-180b-4ae4-98fc-4e6d3dbbcb98" variableName="var1"/>
		<flow-ref doc:name="Flow Reference" doc:id="17bbf2d1-f938-4fb8-a072-4b85c38c47fe" name="PrivateFlow"/>
		<logger level="INFO" doc:name="EndMainFlow logger" doc:id="7f00e005-52e4-454f-959f-304726936873" message="#[vars.var1]"/>
	</flow>
	<flow name="PrivateFlow" doc:id="e559573b-8349-4a56-8f0f-4ab75afc9048" >
		<logger level="INFO" doc:name="PrivateFlow logger" doc:id="0bf0e81a-a4d4-46ab-b76f-c75f48779153" message="*** Private Flow got invoked ***"/>
		<set-variable value="20" doc:name="Set Variable" doc:id="98dba19d-3d59-4566-8dba-c9a9c8a10a05" variableName="var1" />
		<logger level="INFO" doc:name="Logger" doc:id="80e3caa0-45dc-4210-89cc-3dc72ef7d301" message="#[vars.var1]"/>
		<flow-ref doc:name="Flow Reference" doc:id="8cca4ceb-96bd-4239-ab2d-2804ab900e68" name="Sub_Flow"/>
	</flow>
	<sub-flow name="Sub_Flow" doc:id="fb3a0639-cc78-4c6b-b746-50bd7407a0a2" >
		<logger level="INFO" doc:name="SubFlow Logger" doc:id="11330050-0069-4546-adb1-db2dfa60898b" message="*** SubFlow was invoked ***"/>
		<set-variable value="30" doc:name="Set Variable" doc:id="e1b04bc6-6c16-47b8-8991-cfe9b6ea273a" variableName="var1" />
		<logger level="INFO" doc:name="Logger" doc:id="d7f3c24c-079d-4e06-9672-dda931b5bb0a" message="#[vars.var1]"/>
	</sub-flow>
	<flow name="publishFlow" doc:id="5bd8eb2a-09ba-4088-b9b7-749815b80a7d" >
		<http:listener doc:name="/Post Customer" doc:id="753cad38-b07c-4d21-9127-13c91b8e39f8" config-ref="HTTP_Listener_config" path="/customer" allowedMethods="POST"/>
		<logger level="INFO" doc:name="publisher Logger" doc:id="a19466e8-dc30-490a-ab3f-b26a732da62e" message="*** Customer flow invoked *** "/>
		<vm:publish queueName="CustomerQueue" doc:name="Publish" doc:id="bbc74b43-7583-442a-88b2-5fdcb5a992a5" config-ref="VM_Config"/>
		<logger level="INFO" doc:name="Logger" doc:id="98d31fdd-c80c-48eb-96f7-1a16df731c0a" message="** After Publish **"/>
	</flow>
	<flow name="SuscribeFlow" doc:id="a719331d-2ab4-485c-be41-86cc2ebfcd71" >
		<vm:listener queueName="CustomerQueue" doc:name="Listener" doc:id="087d31b6-dbd1-4d66-9529-3bc72b063f74" config-ref="VM_Config"/>
		<logger level="INFO" doc:name="Logger" doc:id="2358787e-0205-40f6-8f11-1b848401ba29" message="** Suscribe flow got invoked ** payload: #[payload]"/>
	</flow>
	<flow name="FileProcessingFlow" doc:id="46d62aff-cbc5-4bf1-9fb7-9f3c18c02461" >
		<file:listener doc:name="On New or Updated File" doc:id="68e8bf89-4dce-4ca3-b2bf-c0d72ae488fd" config-ref="File_Config" directory="C:\demo\input" autoDelete="true" moveToDirectory="C:\demo\output">
			<scheduling-strategy >
				<fixed-frequency frequency="5" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</file:listener>
		<logger level="INFO" doc:name="Logger" doc:id="145e1c3e-43f9-41c5-abbd-1ab1c69a37fb" message="#[payload]"/>
	</flow>
</mule>
